/*
Colors used
Primary color (Blue): #05676e
Secondary color (Green): #489c79
*/

*{
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  font-size: 20px; /* Sets the font size to 20px */
  font-weight: 400;
  line-height: 1.6; /* Sets the line-height to 1.6 */
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
a {
  color: #05676e;
  text-decoration: none;
}
a:visited {
  color: #05676e;
}
a:hover,
a:focus {
  text-decoration: none; /* No underlining the link on hovering */
}
a:active {
  color: #489c79;
}
img {
  width: 100%;
}
.pt30 {
  padding-top: 30px;
}

/* BUTTON STYLES */
button,
.button { /* overwrite browser defaults */
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */
  /* style button */
  background-color: #05676e;
  color: white !important;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-bottom : 20px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.download-button {
  background-color: rgba(150, 5, 49, 0.6);
  margin-right: 10px;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer; /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
}

/* HEADER */
header {
  border-bottom: 5px solid #efefef;
}
.logo a {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-decoration: none;
  color: #960531;
}
.logo {
  display: inline-block;
}
nav {
  display: inline-block;
  float: right;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 25px;
}
nav ul li{
  float: left;
  margin-left: 50px;
}
nav a {
  text-decoration: none;
}

/* CONTAINER AND COLUMN */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container.about {
  max-width: 800px;
}
.col-2 {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 20px;
  float: left;
}
.col-2:nth-child(even) {
  margin-right: 0;
}
.personal {
  display: inline-block;
  padding: 40px 0;
}
.personal svg {
  width: 48px;
  margin: 20px 0;
}
.center {
  text-align: center;
}

/* HERO */
.hero {
  text-align: center;
  padding: 40px 0;
  background-color: #960531;
  color: #fff;
  margin-bottom: 40px;
}
.hero h1 span {
  font-size: 30px;
  font-weight: 400;
}

/* Animations */
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after {
display: inline-block;
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #960531;
  transition: all 0.3s;
}
div.borderXwidth a:before {
  left: 0px;
  top: 0px;
}
div.borderXwidth a:after {
  right: 0px;
  bottom: 0px;
}
div.borderXwidth a:hover:before, div.borderXwidth a:hover:after {
  opacity: 1;
  width: 100%;
}

/* Media Queries */
@media all and (max-width: 500px) {
  body {
    /* Reduce font-size of body */
    font-size: 16px;
  }
  h1 {
    /* Reduce font-size of heading */
    font-size: 24px;
  }
  h2 {
    /* Reduce font-size of heading */
    font-size: 18px;
  }
  h3 {
    /* Reduce font-size of heading */
    font-size: 15px;
  }
  button,
  .button {
    /* Adjust Contact Button */
    display: block;
    text-align: center;
  }
  header {
    /* Ajust Header */
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .logo {
    width: 100%;
  }
  .logo a {
    /* Make logo smaller by changing the font size */
    font-size: 25px;
  }
  nav {
    /* Adjust Navigation to small sizes */
    float: none;
  }
  nav ul {
    /* Adjust Navigation Margin */
    margin-top: 10px;
  }
  nav ul li:first-child {
    margin-left: 0;
  }

  .col-2 {
    /* Modify 2-column to 1-column */
    width: 100%;
    margin-right: 0%;
    text-align: center;
  }
  .hero h1 span {
    /* Adjust Span to Header */
    font-size: 18px;
  }
}
